body {
    background-color: #EAE7DC;
    background-size: cover;
    /* Pour redimensionner l'image pour remplir tout l'arrière-plan */
    background-repeat: no-repeat;
    /* Pour empêcher la répétition de l'image */
    background-attachment: fixed;
    /* Pour que l'image reste fixe lors du défilement de la page */
    background-position: center center;
    /* Pour centrer l'image à l'arrière-plan */
    font-family: 'Philosopher', sans-serif;
    font-size: 1rem;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
header {
    background-color: #D8C3A5;
    display: flex;
    height: fit-content;
}

ul {
    list-style-type: none;
    margin-top: 0;
    height: fit-content;
}

li {
    float: right;
    
}

li a {
    display: block;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #c54949;
    color: rgb(255, 255, 255);
}
.logo{
    width: 80%;
}