<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!-- font-family : Philosopher & Young Serif -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&family=Young+Serif&display=swap" rel="stylesheet">
    <title>Re:</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <div class="title">
            <h1>Mangas</h1>
        </div>
        <nav>
            <ul class="HAC">
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>

</body>

</html>